*.pyc
*~
input_mdft
mdft*.json
.ipynb_checkpoints
mdft-dev/
mini_input_mdft/
runAll.sh
mdft_db_test.ipynb
*_plots/
input_mdft.tar.gz
*.png
*.pdf
input_mdft_mmax1_ref
cloneDB.sh
mdft_analysis/mdftPlotter_*
